<p id="waypointsText"><b>Soort GEF-bestand, GEF-bestandsnaam, Bedrijfsnaam, Startdatum, Username</b></p>
{% for waypoint in waypoints %}
	<!--  if waypoint.username == request.user.username or waypoint.username == 'AnonymousUser' and not request.user.is_authenticated  -->
	{% if ActiveProject == waypoint.project_id %}
	  	<div id={{waypoint.id}} class='waypoint linkOFF'>
			{{waypoint.soortgef}},
			{{waypoint.name}}, 
			{{waypoint.company}}, 
			{{waypoint.startdatum}},   
			{{waypoint.username}}
	 	</div>
	{% endif %}
{% endfor %}

